* {
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
}

.square {
    border: 2px solid black;
    padding: 0;
    margin: auto
}

.smallSquare {
    border: 1px solid rgb(0, 0, 0);
    padding-top: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 208, 208);
}
.smallEmtySquare {
    padding-top: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 208, 208);
}